body {
    background-color: black;
    position: absolute;
}

button {
    padding: 2em;
    background-color: #1B1339;
    border: none;
    border-radius: 5em;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin: 1em; 
    margin-left: 3.8em;
    margin-right: 3.8em;
    background: #1B1339;
    border-radius: 2em;
}

.active {
    color: #3718AF;
}

#antiimage {
    position: absolute;
    width:30%;
    height: 230%;
    margin-left: 4em;
    border-radius: 2em;
}

.social {
    position: absolute;
    left: 26em;
    top: 2.5em;
    
}

#link1 {
    position: absolute;
    top: 2em;
    font-size: 3em;
}

#link1:hover {
    color: purple;
}

#link2 {
    position: absolute;
    top: 4em;
    font-size: 3em;
}

#link2:hover {
    color: purple;
}

#link3 {
    position: absolute;
    top: 6em;
    font-size: 3em;
}

#link3:hover {
    color: purple;
}