body {
    background-color: black;
    position: absolute;
}

button {
    padding: 2em;
    background-color: #1B1339;
    border: none;
    border-radius: 5em;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin: 1em; 
    margin-left: 3.8em;
    background: #1B1339;
    border-radius: 2em;
}

.active {
    color: #3718AF;
}

p1{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    top:  5em;
    left: 5em;
}

.projects {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5em;
    margin-top: 5em;
    
}

.link:hover {
    color: purple;
}
.spacer {
    padding: 1em;
}