body {
    background-color: black;
    position: absolute;
}

button {
    padding: 2em;
    background-color: #1B1339;
    border: none;
    border-radius: 5em;
}

a {
    color: white;
    text-decoration: none;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: purple;
}

nav {
    margin: 2em; 
    margin-left: 3.5em;
    background: #1B1339;
    border-radius: 2em;
    padding: 2em;
}

.active {
    color: #3718AF;
}

.heading {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    left: 2em;
    right: -10em;
}

.describtion {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    left: 2em;
    top: 8.5em;
    right: -20em;
}
